<div class="container">
    <div class="row m_top30">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row m_top20">
                        <div class="col-sm-2 align-self-end">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-action  list-group-item-dark"><span>Login</span></li>
                                 <li class="list-group-item list-group-item-action list-group-item-light"><span>Register</span></li>
                             </ul>
                        </div>
                        <div class="col-sm-8">
                             <div><h4 class="borderCls text-center pad10">LOGIN</h4></div>
                        </div>
                    </div>
                    <div class="row m_top20">
                        <div class="col-12">
                            <div class="loginFormCls">
                                <form #loginForm="ngForm" (submit)="loginUser(loginForm.value)">
                                    <div class="form-group row">
                                      <label for="inputEmail3" class="col-sm-2 col-form-label offset-2">Email</label>
                                      <div class="col-sm-4">
                                        <input type="email" class="form-control" id="inputEmail3" name="userName" ngModel #userName="ngModel" placeholder="Email">
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="inputPassword3" class="col-sm-2 offset-2 col-form-label">Password</label>
                                      <div class="col-sm-4">
                                        <input type="password" class="form-control" name="password" ngModel #password="ngModel" id="inputPassword3" placeholder="Password">
                                      </div>
                                    </div>

                                    <div class="form-group row">
                                      <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                      </div>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>