<div class="container">
    <div class="row m_top30">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row m_top20">
                        <div class="col-sm-2 align-self-end">
                            <ul class="list-group">
                                <li  class="list-group-item list-group-item-action  list-group-item-light"><span>Login</span></li>
                                 <li class="list-group-item list-group-item-action list-group-item-dark"><span>Register</span></li>
                             </ul>
                        </div>
                        <div class="col-sm-8">
                             <div><h4 class="borderCls text-center pad10">Register</h4></div>
                        </div>
                    </div>
                    <div class="row m_top20">
                        <div class="col-12">
                            <div class="loginFormCls">
                                <form  #signupForm="ngForm" (ngSubmit)="createUser(signupForm.value)">
                                    <div class="form-group row">
                                      <label for="userNameId" class="col-sm-2 col-form-label offset-2">Email Id (User Name)</label>
                                      <div class="col-sm-4">
                                        <input type="email" class="form-control" id="userNameId"  name="userName" ngModel [(ngModel)]="regObj.userName" placeholder="Email"/>
                                      </div>
                                    </div>
                                    <div class="form-group row">
                                      <label for="inputPassword3" class="col-sm-2 offset-2 col-form-label">First Name</label>
                                      <div class="col-sm-4">
                                        <input type="text" class="form-control" id="firstNameId" name="firstName" ngModel [(ngModel)]="regObj.firstName" placeholder="First name"/>
                                      </div>
                                    </div>s
                                    <div class="form-group row">
                                        <label for="lastNameId" class="col-sm-2 offset-2 col-form-label">Last Name</label>
                                        <div class="col-sm-4">
                                          <input type="text" class="form-control" id="lastNameId" name="lastName" ngModel [(ngModel)]="regObj.lastName" placeholder="Last name"/>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="passwordId" class="col-sm-2 offset-2 col-form-label">Password</label>
                                        <div class="col-sm-4">
                                          <input type="password" class="form-control" id="passwordId" ngModel name="password" [(ngModel)]="regObj.password" placeholder="Password"/>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="cnfPassId" class="col-sm-2 offset-2 col-form-label">Confirm Password</label>
                                        <div class="col-sm-4">
                                          <input type="password" class="form-control" id="cnfPassId"  placeholder="Confirm Password"/>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="mobileNoId" class="col-sm-2 offset-2 col-form-label"> Mobile</label>
                                        <div class="col-sm-4">
                                          <input type="text" class="form-control" id="mobileNoId" maxlength="10" name="mobileNo" ngModel [(ngModel)]="regObj.mobileNo" placeholder="Mobile Number"/>
                                        </div>
                                      </div>
                                      <div class="form-group row">
                                        <label for="profileId" class="col-sm-2 offset-2 col-form-label">Profile Pic</label>
                                        <div class="col-sm-4">
                                          <input type="file" class="form-control" (change)="onFileChange($event)" id="profileId" name="profilePic"   />
                                        </div>
                                      </div>

                                    <div class="form-group row">
                                      <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                      </div>
                                    </div>
                                    <div>
                                    </div>
                                  </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>